name: GitHub Actions - Workflow run In Progress Template
run-name: Running - Workflow run In Progress Template
on:
  workflow_run:
    workflows: [Trigger]
    types: [in_progress]

jobs:
  quando_trigger_for_disparado:
    runs-on: ubuntu-latest
    steps:
      - name: Comentario
        run: echo "Workflow run In Progress foi Trigado"
