name: pipeline pra task
on: push

jobs:
  instalando-zip:
    name: task Zip install
    runs-on: ubuntu-latest 
    steps:
      - name: Mensagem especial
        run: echo "Olá, Usuario! A instalação ira começar"
        
      - name: Fazendo checkout no maquina virtual
        uses: actions/checkout@v5
      
      - name: Instalar o ZIP
        run: sudo apt-get install zip
      
      - name: Zipar os aruivos do meu repositório 
        run: zip -r arquivos.zip .

  instalando-node-testando:
      name: task Node install
      runs-on: ubuntu-latest
      steps:
      - name: Fazer checkout
        uses: actions/checkout@v5

      - name: Instalar Node
        uses: actions/setup-node@v4
        with:
          node-version: "18"

      - name: Rodar teste simples
        run: node -e "conseole.log('Testando Node')"


  gerar-arquivo:
    name: task criando arquivo txt
    runs-on: ubuntu-latest
    steps:
      - name: Fazer checkout
        uses: actions/checkout@v5

      - name: Criar arquivo
        run: |
          echo "Arquivi criado automaticamente no pipeline" > arquivo.txt

      - name: Mostrando arquivo
        run: cat arquivo.txt
